@font-face {
    font-family: 'nunito';
    src: url(../../static/Nunito-Regular.ttf);
}
@font-face {
    font-family: 'nunitoBold';
    src: url(../../static/Nunito-Bold.ttf);
}
.home{
    display: flex;
    height: 100vh;
    font-family: 'nunito';
}